
nav ul{
    border: 5px solid;
    display: flex;
    background-color: #008892;
    color: black;
    font-size: 26px;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(193, 188, 202);

}

.left{
    justify-content: flex-start;
    min-width: 200px;
    max-width: 500px;
    background-color: #008892;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border: 5px solid #474747;
    min-height: 200px;
}
.right{
    justify-content: flex-end;
    min-width: 200px;
    max-width: 500px;
    background-color: #008892;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border: 5px solid #474747;
    min-height: 200px;
}
.flexy{
    display: flex;
    justify-content: space-between;
}

figure{
    border: 5px solid black;
    margin:auto;
    
}

.card{
    width: 50%;
    margin: 40px auto;
    border: 5px solid black;
    box-shadow: 5px 10px grey; 
    background-color: rgb(44, 44, 44);
}

@media screen and (max-width: 992px) {
body{
    background-color: royalblue ;

}   
.card{
    background-color: azure ;
}
}